/*
* Style
*/

/*
* Google font
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');

/*
* Section - Home
*/
*{
    font-family: 'Barlow', sans-serif !important;
}

/** BG Image */
#home {
    background-image: url("../images/bg-home-1.jpg");
}

.bg-white-gris{
    background-color: #EEF2F6;
}

.ColorNav{
    background-color: white !important;
}

.color-item-menu{
    color: #414242 !important;
}

.color-item-menu:hover{
    color: red !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div p ul li {
    line-height: 60px;
}

.img-float{
    float: left;
    margin: 0 0 10px 0;
    padding: 2px;
    padding-right: 10px;
}

.question{
    color: #263D66 !important;
}

.title-contact{
    color: white !important;
}

.fondo-pie{
    background-color: #263D66;
}

/** BG Parallax */
#home-bg-parallax > .bg-parallax {
    background: url("../images/bg-parallax.jpg");
}

/** BG Slider */
#home-bg-slider .flickity-slider > .carousel-cell:nth-child(1) {
    background: url("../images/banner1.jpg");
}
#home-bg-slider .flickity-slider > .carousel-cell:nth-child(2) {
    background: url("../images/banner2.jpg");
}
#home-bg-slider .flickity-slider > .carousel-cell:nth-child(3) {
    background: url("../images/banner3.jpg");
}

/** BG Slideshow */
#home-bg-slideshow .slides > .bg-cover:nth-child(1) {
    background: url("../images/banner1.jpg");
}
#home-bg-slideshow .slides > .bg-cover:nth-child(2) {
    background: url("../images/banner2.jpg");
}
#home-bg-slideshow .slides > .bg-cover:nth-child(3) {
    background: url("../images/banner3.jpg");
}

/** BG Video */
#home-bg-video .player:before {
    z-index: 15;
}
#home-bg-video .player.is-mobile {
    display: none;
}
#home-bg-video .container {
    position: relative;
    z-index: 20;
}


/*
* Section - Benefits
*/

#benefits {
    background-image: url("../images/bg-benefits.jpg");
}


/*
* Section - Milestones
*/

#milestones {
    background-image: url("../images/brindamos_aseso.jpg");
}

#redes {
    background-image: url("../images/barra-azul.png");
}

.bg-comercial{
    background-image: url("../images/comercial.jpg") !important;
}


/*
* Section - Pricing
*/

#pricing {
    background-image: url("../images/bg-pricing.jpg");
}


/*
* Section - Contact
*/

#contact {
    background-image: url("../images/registrar-tus-ingresos-y-gastos-contabilidad-1.jpg");
}

.contact-card {
    opacity: 0.98;
    min-height: 140px;
}
.contact-card img {
    left: 0;
    max-height: 100%;
    position: absolute;
    top: 0;
    z-index: 15;
}
.contact-card-block {
    left: 0;
    padding: 0 30px 0 175px;
    position: absolute;
    top: 0;
    z-index: 20;
}
@media (max-width: 575px) {
    .contact-card img {
        display: none;
    }
    .contact-card-block {
        padding: 0 30px;
    }
}



/*
* Footer
*/

.footer-logo {
    max-height: 40px;
}
.footer-icon-social {
    bottom: 10px;
    position: relative;
}
